<%- include('includes/head',{pageTitle:'404 Error'}) %>

</head>

<body>
  <%- include('includes/header') %>
  <main>
    <h1>Not authenticated! 401</h1>
    <p>You are not authenticated!</p>
    <p><a class="btn" href="/">Back to main</a></p>
  </main>

  <%- include('includes/footer') %>