<%- include('includes/head',{pageTitle:'404 Error'}) %>

</head>

<body>
  <%- include('includes/header') %>
  <main>
    <h1>Not authorrized! 403</h1>
    <p>You are not authorized!</p>
    <p><a class="btn" href="/">Back to main</a></p>
  </main>

  <%- include('includes/footer') %>