<%- include('../../shared/includes/head', { pageTitle: 'Failure!' }) %>

</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>결제실패</h1>

  </main>
<%- include('../../shared/includes/footer') %>