<%- include('../../shared/includes/head', { pageTitle: '성공' }) %>
<link rel="stylesheet" href="/styles/orders.css">
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>결제 성공</h1>
 
  </main>
<%- include('../../shared/includes/footer') %>